body::-webkit-scrollbar {
  display: none !important;
}

.styled-nav {
  border-bottom: 1px solid black;
}

.modal-content {
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: none;
  text-align: center;
}

.modal-title {
  font-weight: 600;
}

.modal-body {
  text-align: center;
  font-size: 1.05rem;
  color: #555;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-cancel {
  background-color: #6c757d;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-cancel:hover {
  background-color: #5a6268;
}